:root {
    --facebook: hsl(208, 92%, 53%) !important;
    --twitter: hsl(208, 92%, 53%) !important;
    --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --limeGreen: hsl(163, 72%, 41%);
    --brightRed: hsl(356, 69%, 56%);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif ;
}

.cards-heading {
    margin-bottom: 15px;
}

.toggle {
    width: 50px;
    height: 25px;
    padding: 4px;
    margin-top: 5px;
}
.circle {
    width: 15px;
    height: 15px;
    float: right;
    transition: all .5s linear;
}
.move {
    float: left;
    
}
.card-item {
    width: 100%;
    height: auto;
    padding: 15px 0;
}
.facebook {
    border-top-color: var(--facebook) !important;
}
.twitter {
    border-top-color: var(--twitter) !important;
}
.instagram::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-image: var(--instagram);
    position: absolute;
    top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.youtube {
    border-top-color: var(--youtube) !important;
}

.follow {
    letter-spacing: 5px;
    margin-top: -25px;
}
.today {
    color: var(--limeGreen);
}
.today-down {
    color: var(--brightRed);
}
.overview-item {
    width: 100%;
    height: 120px;
    padding: 10px;
}
.right-side p:last-child {
    color: var(--limeGreen);
}
.color-red {
    color: var(--brightRed) !important;
}
.fs-1 {
    font-size: calc(3.375rem + 1.5vw)!important;
}
.fs-2 {
    font-size: calc(1.325rem + 3vw)!important;
}

.attribution { font-size: 11px; text-align: center; }

@media (min-width: 1024px) and (max-width: 1440px) {
    .top-pattern {
        width: 100%;
        height: 250px;
    }
    .container {
        margin-top: -240px;
    }
    .cards-heading {
        border: none !important;
    }
    .switcher {
        cursor: pointer;
    }
    .switcher p {
        white-space: nowrap;
        margin-top: 5px;
    }
    .fs-1 {
        font-size: calc(2.375rem + 1.5vw)!important;
    }
    .fs-2 {
        font-size: calc(1.325rem + .5vw)!important;
    }
    
    
}